body{
  font-family: Helvetica, sans-serif;
}
/* Navbar */
.navbar-brand img{
  width: 120px;
}
.navbar-light .navbar-nav .nav-item{
  margin-left: 20px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}


/*SLIDER*/
@media screen and (min-width: 600px) {
.carousel-caption{
  bottom: 20%;
  max-width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 5%;
  border-radius: 0 100px 0 0;
}
.carousel-caption h3{
  margin-bottom: 40px;
  font-size: 2.2em;
}
}
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
